server:
  port: 8888
  
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
      
spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
      - id: ecommerce
        uri: lb://bank-service
        #http://localhost:8082/
        predicates:
        - Path=/Bank/**
      - id: bank
        uri: lb://ecommerce-service
        #http://localhost:8081/
        predicates:
        - Path=/Ecommerce/**